*{
    margin: 0%;
    padding: 0%;
}

.main{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 150vh;
    margin-top: 1vh;
}

.l{
    width: 50vh;
    padding: 1vh;
    margin-right: 10vh;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
    cursor: pointer;
}
.l:hover{
    border-bottom: 1px solid white;
    transition: border-bottom 0.4s ease-in;
}
  
.navs{
    display: flex;
    width: 30vh;
    justify-content: space-between;
    
}
.buttons{
    display: flex;
    width: 20vh;
    justify-content: space-between;
}
.buttons button{
    padding: 1vh;
    border:  transparent;
    border-radius: 0.5vh;
}